@import url(pre-estilos.css);
@media screen and (max-width: 720px) {
  .proyectos {
    width: 100%;
    border-radius: var(--borde-radio);
    background: var(--fondo-crema);
    padding: 0.938rem;
    margin-bottom: 0.938rem;
  }
  h1 {
    color: var(--gris-2);
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 1.875rem;
  }
  .botones {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 3.125rem;
    border-radius: var(--borde-radio);
    justify-content: space-around;
  }
  .botones:hover {
    cursor: pointer;
  }
  .botones input {
    width: calc(90% / 3);
    border-radius: var(--borde-radio);
    font-family: "Montserrat";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .botones input:nth-child(1) {
    background: var(--blue);
    color: var(--fondo-crema);
    border-style: none;
  }
}

@media screen and (min-width: 1199.98px) {
  .proyectos {
    grid-area: proyectos;
    background: var(--fondo-crema);
    padding: 1rem;
    border-radius: var(--borde-radio);
  }
  h1 {
    color: var(--gris-2);
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 1.875rem;
  }
  .botones {
    display: flex;
    width: 100%;
    height: 3.125rem;
    border-radius: var(--borde-radio);
  }
  .botones:hover {
    cursor: pointer;
  }
  .botones input {
    width: calc(50% / 3);
    border-radius: var(--borde-radio);
    font-family: "Montserrat";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 1rem;
  }
  .botones input:nth-child(1) {
    background: var(--blue);
    color: var(--fondo-crema);
    border-style: none;
  }
}
